
cpp_ver/cpp_nano.exe
cpp_ver/cpp_nano.obj
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
debug.log
MicrosoftVisualStudioProject/*
vs_cpp_nano/.vs/vs_cpp_nano/v16/.suo
vs_cpp_nano/.vs/vs_cpp_nano/v16/Browse.VC.db
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/1487045e12671f9f/TESTER_MAIN.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/210d01a46e25fb2f/EKRAN_V2.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/3759ca4d736e56ca/EKRAN_V2.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/3985c00ca36aae92/CONSOLE_CI_MANAGER.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/78e0dc016bb5e857/CONSOLE_RAW.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/958b3049de136f73/CONSOLE_CI_MANAGER.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/c546433bcaee179f/WRITE_CONSOLE_OUTPUT.ipch
vs_cpp_nano/.vs/vs_cpp_nano/v16/ipch/AutoPCH/e8fbcb4d48d8b87e/____WRITE_CONSOLE_OUTPUT.ipch
vs_cpp_nano/Debug/vc142.idb
vs_cpp_nano/Debug/vc142.pdb
vs_cpp_nano/Debug/vs_cpp_nano.Build.CppClean.log
vs_cpp_nano/Debug/vs_cpp_nano.exe
vs_cpp_nano/Debug/vs_cpp_nano.exe.recipe
vs_cpp_nano/Debug/vs_cpp_nano.ilk
vs_cpp_nano/Debug/vs_cpp_nano.log
vs_cpp_nano/Debug/vs_cpp_nano.obj
vs_cpp_nano/Debug/vs_cpp_nano.pdb
vs_cpp_nano/Debug/vs_cpp_nano.tlog/CL.command.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/CL.read.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/CL.write.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/link.command.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/link.read.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/link.write.1.tlog
vs_cpp_nano/Debug/vs_cpp_nano.tlog/vs_cpp_nano.lastbuildstate
vs_cpp_nano/Debug/vs_cpp_nano.vcxproj.FileListAbsolute.txt
vs_cpp_nano/tester_main.cpp
vs_cpp_nano/vs_cpp_nano.sln
vs_cpp_nano/vs_cpp_nano.vcxproj
vs_cpp_nano/vs_cpp_nano.vcxproj.filters
vs_cpp_nano/vs_cpp_nano.vcxproj.user
vs_cpp_nano/.vs/vs_cpp_nano/v16/Browse.VC.db-shm
vs_cpp_nano/.vs/vs_cpp_nano/v16/Browse.VC.db-wal
vs_cpp_nano/.vs/vs_cpp_nano/v16/Browse.VC.opendb
